body {
    font-family: poppins;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper {
    background-color: whitesmoke;
    border-radius: 2%;
    box-shadow: 1px 1px 5px #d1d1d1;
    width: 30vw;
    padding: 2%;
}

.form-title {
font-size: 1.5em;
margin: 0 0 5% 0;
}

.button-container {
display: flex;
flex-direction: row;
justify-content: center;
}

.btn {
    background-color: white;
    box-shadow: 1px 1px 2px #888888;
    border: none;
    margin: 5%;
    padding: 2% 3% 2% 3%;
    border-radius: 5%;
    font-family: poppins;
    font-size: 1em;
}

.continuous-choice-field {
    margin-left: 5%;
    box-shadow: 1px 1px 2px #888888;
    border: none;
    border-radius: 2%;
    height: 3.5vh;
}

.nominal-choice-field {
    display: flex;
    flex-direction: row;
    margin: 2% 0 5% 0;
}

.choice-field {
  margin-right: 9%;
}

